body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
}

.student-profile .card {
  border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 5px solid #ccc;
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}
.card
{
	margin-left:10%;
	margin-top:0%;
	margin-right:10%;
	
	 font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  
 
  border-top: 5px solid #f5ba1a;
  
  

 
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  z-index: 1;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
 
}