<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reset Password</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link th:href="@{/css/resetpassword.css}" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
	integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon2.png}"  />
</head>
<body>




		<div class="card " th:if="${user != null}">


			<div class="card-body mt-3" >

				<div id="changepassword">

					<h5>Change Password</h5>
					<form  th:object="${user}" method="post"
						th:action="@{/changepassword}">

					
						

					
						<div class="form-group mt-3 mb-3">
							<label for="oldpassword" class="mb-1">New Password</label>
							<input type="password" class="form-control password"
								id="newpassword" name="newpassword" placeholder="New Password">
							<i class="fas fa-eye-slash field-icon" id="togglenew"></i>
							<ul th:if="${criteriaMessages}" class="text-danger">
								<li th:each="message : ${criteriaMessages}" th:text="${message}"></li>
							</ul>
							
							
							
							
							
						</div>

						<div class="form-group mt-3 mb-4">
							<label for="newpassword" class="mb-1">Confirm Password</label>
							<input type="password" class="form-control password"
								id="confirmpassword" placeholder="Confirm Password" name="confirmpassword">
							<i class="fas fa-eye-slash field-icon" id="toggleconfirm"></i>
							 <span
								th:if="${error}" class="text-danger" th:text="${error}"></span>
							
						</div>

						<button type="submit" class="btn btn-primary mb-5">Change</button>

					</form>
				</div>
			</div>
		</div>

	
	
		<div style="text-align: center;">

			<span th:unless="${user != null}" class="text-danger">Invalid
				Link</span>
				</div>
	
<script type="text/javascript" th:src="@{/js/resetpassword.js}"></script>
</body>
</html>
